.weather h1 {
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #e7eaf6;
}

.weather footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: e7eaf6(39, 33, 66, 0.4);
}
.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  font-weight: 500;
  margin-bottom: 5px;
  color: #e7eaf6;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

.weather footer {
  font-size: 10px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: e7eaf6(39, 33, 66, 0.4);
}

.root {
  background-image: url(./media/weather2.jpg);
  max-width: none;
  padding: 100px;
  background-repeat: repeat-x;
}

.app {
  max-width: 800px;
  margin: 60px auto;
}

.container,
.container-md,
.container-sm {
  max-width: 700px;
}
.weather {
  font-family: "Open Sans", sans-serif;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  margin: 10px;
  color: #878787;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  opacity: 0.7;
  border: transparent;
  border-radius: 25px;
}

.temperature {
  color: #e7eaf6;
  margin-left: 10px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
}

.description {
  position: relative;
  top: 5px;
  left: 29px;
}

.temperature-container .units {
  position: relative;
  font-size: 14px;
  font-weight: 200;
  top: -32px;
  color: #f2f2f1;
}

.temperature-container .active {
  color: #f2f2f1;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weatherInfo {
  margin-top: 20px;
}

.weatherForecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 58px;
  padding-top: 30px;
}

.weather-forecast {
  margin-top: 40px;
  text-align: center;
  color: #f2f2f1;
  font-size: 13px;
  opacity: 0.8;
}

.forecast-date {
  font-size: 16px;
}

.forecast-temperature-min {
  opacity: 0.7;
}
